/// @param {Integer} $item-count - Number of items on the circle
/// @param {Length} $circle-size - Large circle size
/// @param {Length} $item-size - Single item size

.port-skills-links {
  margin: 1em 0;
  width: 800px;
  height: 800px;
  //margin-top: 1em;
}

.circle-container {
  //$circle-size: 608px;
  width: inherit;
  height: inherit;
  margin: 0 auto;
  position: relative;
  padding: 0;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
  }

  .landing-sphere {
    top: calc(50% - 125px);
    left: calc(50% - 125px);
  }

  li {
    text-align: center;
  }
}
