/// Mixin to place items on a circle
/// @author Kitty Giraudel
/// @author Ana Tudor
/// @param {Integer} $item-count - Number of items on the circle
/// @param {Length} $circle-size - Large circle size
/// @param {Length} $item-size - Single item size

.circle-container {
  //$circle-size: 608px;
  margin: 0 auto;
  position: relative;
  width: 800px;
  height: 800px;
  padding: 0;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
  }

  .landing-sphere {
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    //margin: -(calc(15em / 2)) !important;
  }

  li {
    text-align: center;
  }
}
