

.time-frame {
    font-size: 1.5em;
    color: black;
    h1, h2 { color: black; display: inline; }
    svg path {
        color: $themegreen3;
    }
}

.btn-story-img {
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    background: $themegreen3;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

.btn-story-img:hover {
    background: darkgray;
}

.story-img {
    opacity: 0;
    position: absolute;
    left: -999em;
    transition: opacity .3s ease-in-out;
}

#imgCheck1:checked + .story-img,
#imgCheck2:checked + .story-img,
#imgCheck3:checked + .story-img,
#imgCheck4:checked + .story-img,
#imgCheck5:checked + .story-img,
#imgCheck6:checked + .story-img {
    position: static;
    padding-right: 5px;
    opacity: 1;
}
