.port-home-container {
  padding: 0 auto;
}

.landing-flex {
  display: flex;
  justify-content: center;
}

.landing-container {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}

.drop-skill {
  text-align: center;
  img {
    width: 130px;
  }
  h3,
  h1,
  h2 {
    color: #f3fcdd;
    font-family: Monsterat;
  }
  #chosen-model {
    display: inline-block;
  }
}

.skill-summary {
  margin: 0 auto;
  padding: 8px 1em;
  font-size: 1.25em;
  //background: rgba(0, 0, 0, 0.2);
  //backdrop-filter: blur(8px);
  p,
  div {
    font-family: SourceSansPro-Light;
    text-align: justify;
    text-indent: 30px;
  }
  .concepts {
    color: black;
    font-size: 1.2em;
  }
}

.skill-summary-scroll {
  width: 60%;
  margin: 0 auto;
  padding-top: 10px;
  height: auto;
}

.shadow-scrollwindow {
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4),
    inset 0 -5px 7px -5px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.3);
}

.carousel-shadow {
  position: relative;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.2);
}

.skills-carousel {
  overflow: hidden;
  width: 100vw;
  height: 120px;
}

.skills-slider-mobile {
  ul {
    white-space: nowrap;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      display: inline-block;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  70% {
    transform: scale(1.1);
    animation-timing-function: cubic-bezier(0.1, 0.25, 1, 0.25);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .drop-skill {
    padding-top: 0;
  }
  .skill-summary-scroll {
    width: 100%;
    height: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .skill-summary-scroll {
    width: 100%;
    height: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .skill-summary {
    font-size: 1em;
  }
  .skill-summary-scroll {
    width: 100%;
    height: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  .skill-summary {
    font-size: 1.25em;
  }
  .skill-summary-scroll {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .drop-skill {
    padding-top: 30px;
    width: 45%;
  }
}
