.projects {
  padding: 1rem;
  p,
  div {
    a {
      color: rgb(126, 241, 126);
      font-weight: bold;
    }
    a:hover {
      text-decoration: none;
    }
    text-align: justify;
    text-indent: 30px;
  }

  span {
    h2,
    h3 {
      color: #f3fcdd;
    }
  }
}
